.input {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;
  padding: 12px 20px 12px 58px;
  width: 400px;
  @media (max-width: 641px) {
    width: 300px;
  }

  @media (max-width: 427px) {
    width: 200px;
  }
}

.formGroup {
  position: relative;
  display: flex;
  @media (max-width: 1075px) {
    order: 3;
  }
  svg {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
  }
}
